{% load menu_tags factsheet_filters %}
{% for child in children %}
<li class="{{ child.title|li_level }}{% if not child.children %}Species {{ child.title|loc_class }}{% endif %}">
        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">{{ child.get_menu_title }}</a>
    {% if child.children %}
    <ul class="{{ child.title|li_level }}_ul">
        {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
    </ul>
    {% endif %}
</li>
{% endfor %}
